* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    color: white;

}

.container {
    width: 960px;
    margin: 0 auto;
}

/* TODO: Add css here */
.tabs .header{
    background-color: rgb(29, 27, 27);
    display: flex;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;

}

.tabs .header .tab{
    color: rgb(148, 145, 145);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s linear;

}

.tabs .header .tab:hover{
    backdrop-filter: brightness(185%);
}

.tabs .body{
    background-color: white;
    color: black;
    padding: 60px;
    line-height: 32px;
    text-align: justify;
    word-spacing: 1px;
    
}

.tabs .body h1{
    margin-bottom: 20px;
}


.active {
    background-color: rgb(36, 96, 124);

}

.active p{
    color: white;
}

.error{
    color: red;
    background-color: rgb(250, 189, 189);
    border-radius: 10px;
    height: 70px;
    padding: 20px;
    
}

.spinner-box{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    display: inline-block;
    width: 80px; 
    height: 80px; 
    border: 8px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%; 
    border-top: 8px solid #3498db;
    animation: spin 1s linear infinite; 
  }

@keyframes spin {
    0% {
      transform: rotate(0deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
  }


@media only screen and (max-width: 960px) {

    .container {
        width: 100%;
    }

    .content {
        padding: 50px;
    }
} 